<div class="profile__container">
  <div class="post">
    <div class="header">
      <h5 class="post__title"><%= @post.title %> by <%= @user.name %></h5>
      <div class="post__likes_comments_counter">
        <span>Comments: <%= @post.comments.size %></span>, <span>Likes: <%= @post.likes.size %></span>
      </div>
    </div>
    <p class="post__text"><%= @post.text %></p>
  </div>
  <% if @post.comments.size > 0 %>
    <ul class="comment__list">
      <% @post.comments.each do |c| %>
        <li class="comment__item">
          <span class="comment__item-user"><%= c.user.name.capitalize %>: </span>
          <span class="comment__item-comment"><%= c.text %></span>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
